header{
    background-color: darkred;

#produtos{
    background-color:beige;
    height: 700px;
}
#parceiros{
    background-color: beige;
    height: 700px;
}
#historia{
    background-color: beige;
    height: 700px;
}
#cadastro{
    background-color: beige;
    height: 700px;
}